.hero{
    background-color:#1abc9c;
}

 .hero .container .d-flex .line{
    width: 100px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
h1 ,h5{
    color: aliceblue;
}
h1{
    font-weight: 900;
    font-size: 3.5rem;
}
.scroll-Top{
    position: fixed;
    right: 30px;
    bottom:20px;
    z-index: 9999;
    }