
   <!-- <footer class="fixed-bottom">
    <div class="bgFooter pt-2 text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <h4>LOCATION</h4>
            <div><p>2215 John
               Daniel Drive
              Clark, MO 65243</p></div>
          </div>
          <div class="col-md-4">
            <div><h4>AROUND THE WEB</h4></div>
            <div class=" icons px-5 py-2 d-flex align-items-center justify-content-center ">
             <div class="border-icons"> <i class="fa-brands fa-facebook fs-3 px-2 mx-1"></i></div>
             <div class="border-icons"><i class="fa-brands fa-twitter  fs-3  px-2 mx-1"></i></div>
             <div class="border-icons"> <i class="fa-brands fa-linkedin fs-3  px-2 mx-1"></i></div>
            <div class="border-icons"> <i class="fa-brands fa-dribbble fs-3  px-2 mx-1"></i></div>
          
            </div>
          </div>
          <div class="col-md-4">
            <h4>ABOUT FREELANCER</h4>
            <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Rania ibrahem </p>
          </div>
          <div class="last text-white py-1" id="copyright">Copyright © Your Website 2022</div>
        
        </div>
      </div>
     
     
  
     </div>
   </footer>
 
   -->
