<section class="contact pt-3 text-center">
    <h1>CONTACT ME</h1>
    <div class="d-flex justify-content-center text-center align-items-center">
        <div class="line"></div>
        <div class="icon text-center">
         <i class="fa-solid fa-star fs-1 "></i>
        </div>
        <div class="line"></div>
        
     </div>
     <div class="container mx-auto w-50 pb-5">
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="text" class="form-control" id="exampleInputEmail1" 
              aria-describedby="emailHelp" placeholder="Name">
          
          </div>
          <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleInputEmail1" 
              aria-describedby="emailHelp" placeholder="Email address">
          
          </div>
          <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="tel" class="form-control" id="exampleInputEmail1" 
              aria-describedby="emailHelp" placeholder="Phone Number">
          
          </div>
          <div class="form-floating py-2">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Message</label>
          </div>
          <div class="text-start py-4">
            <button type="button" class="btn btn-test">Send</button>
          </div>
          
     </div>
      <div class="bgFooter pt-5 text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <h4>LOCATION</h4>
            <div><p>2215 John
               Daniel Drive
              Clark, MO 65243</p></div>
          </div>
          <div class="col-md-4">
            <div><h4>AROUND THE WEB</h4></div>
            <div class=" icons px-5 py-2 d-flex align-items-center justify-content-center ">
             <div class="border-icons"> <i class="fa-brands fa-facebook fs-3 px-2 mx-1"></i></div>
             <div class="border-icons"><i class="fa-brands fa-twitter  fs-3  px-2 mx-1"></i></div>
             <div class="border-icons"> <i class="fa-brands fa-linkedin fs-3  px-2 mx-1"></i></div>
            <div class="border-icons"> <i class="fa-brands fa-dribbble fs-3  px-2 mx-1"></i></div>
          
            </div>
          </div>
          <div class="col-md-4">
            <h4>ABOUT FREELANCER</h4>
            <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Rania ibrahem </p>
          </div>
          <div class="last text-white py-3" id="copyright">Copyright © Your Website 2022</div>

        </div>
     
      </div>
     
     

     </div>
     

</section>
